@page
@model HobbyTeamManager.Pages.Teams.CreateModel

@{
    ViewData["Title"] = "Neues Team";
}

<h1>Neues Team</h1>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Team.TeamColorId" class="control-label"></label>
                <select asp-for="Team.TeamColorId" class="form-control"
                        asp-items="@Model.TeamColorSL">
                        <option value="">-- Teamfarbe wählen --</option>
                </select>
                <span asp-validation-for="Team.TeamColorId" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="Team.Goals" class="control-label"></label>
                <input asp-for="Team.Goals" class="form-control" />
                <span asp-validation-for="Team.Goals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.MatchDayIdForTeamWhite" class="control-label"></label>
                <input asp-for="Team.MatchDayIdForTeamWhite" class="form-control" />
                <span asp-validation-for="Team.MatchDayIdForTeamWhite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.MatchDayIdForTeamRed" class="control-label"></label>
                <input asp-for="Team.MatchDayIdForTeamRed" class="form-control" />
                <span asp-validation-for="Team.MatchDayIdForTeamRed" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Erzeugen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Zurück zur Liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
