@using HobbyTeamManager.Models
@using System.Security.Claims
@{
    var site = Utilities.Miscellaneous.GetObjectFromSessionString<Site>(Context);
    if (site == null)
    {
        site = new Site();
    }
}

<ul class="navbar-nav">
@if (User.Identity.IsAuthenticated)
{
    var idClaim = User.FindFirst(ClaimTypes.NameIdentifier);
    if (idClaim != null)
    {
        if (int.TryParse(idClaim.Value, out int userId))
        {
            <li class="nav-item">
                <a class="nav-link" style="color:@site.FgColorMain"
                    asp-page="/Players/Details" asp-route-id="@userId">Hallo @User.Identity.Name!</a>
            </li>
        }
    }
    <li class="nav-item">
        <form class="form-inline" asp-page="/Account/Logout" method="post">
            <button type="submit" class="nav-link" style="color:@site.FgColorMain; background:@site.BgColorMain">Abmelden</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" style="color:@site.FgColorMain" asp-page="/Account/Register">Admin-Registrieren</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color:@site.FgColorMain" asp-page="/Account/Login">Anmelden</a>
    </li>
}
</ul>
