<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">
    <div class=container>
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-end">
        <partial name="_LoginPartial" />
      </div>
    </div>
</nav>
