@page
@model HobbyTeamManager.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Zugriff verweigert";
}

<div class="text-center border-bottom mb-1">
    <h1 class="text-primary">@ViewData["Title"]</h1>
</div>
<div class="text-danger text-center">
    <h5>Sie haben keinen Zugriff auf diese Resource.</h5>
</div>
