@page
@model HobbyTeamManager.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Abmelden";
}

<div class="text-center border-bottom mb-1">
    <h1>@ViewData["Title"]</h1>
</div>
<h5>Sie haben sich erfolgreich abgemeldet.</h5>
