@page
@model HobbyTeamManager.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Registrieren";
}

<div class="text-center border-bottom mb-1">
    <h1>@ViewData["Title"]</h1>
    <h3>Neuer Hobby-Mannschaft-Administrator für eine <strong><u>neue</u></strong> Hobby-Mannschaft!</h3>
    <hr />
    <h4>Hier kann <strong><u>kein neuer</u></strong> Administrator zu einer bestehenden Mannschaft zufügen werden!</h4>
    <h4>Dazu muss ein bestehender Administrator der bestehenden Mannschaft einen neuen Benutzer/Spieler als Administrator anlegen oder einen bestehenden Benutzer/Spieler zum Administrator machen.</h4>
</div>
<hr />

<div class="row">
    <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4 col-xxl-3">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <h5>Neuer Hobby-Mannschaft-Administrator</h5>
            <div class="form-group">
                <label asp-for="Player.FirstName" class="control-label"></label>
                <input asp-for="Player.FirstName" class="form-control" />
                <span asp-validation-for="Player.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.Emailaddress" class="control-label"></label>
                <input asp-for="Player.Emailaddress" class="form-control" />
                <span asp-validation-for="Player.Emailaddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <ul>
                    <li>mindestens 1 Großbuchstabe</li>
                    <li>mindestens 1 Kleinbuchstabe</li>
                    <li>mindestens 1 Zahl</li>
                    <li>mindestens 1 Sonderzeichen aus ,.+-;:_!§$</li>
                    <li>mindestens 8 Zeichen</li>
                </ul>
                <input asp-for="Password" class="form-control" type="password" placeholder="Passwort" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirm" class="control-label"></label>
                <input asp-for="PasswordConfirm" class="form-control" type="password" placeholder="Passwort bestätigen" />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
            <hr />
            <h5>Neue Hobby-Mannschaft</h5>
            <div class="form-group">
                <label asp-for="Site.Name" class="control-label"></label>
                <input asp-for="Site.Name" class="form-control" placeholder="Hobbymannschaft" />
                <span asp-validation-for="Site.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Site.Headline" class="control-label"></label>
                <input asp-for="Site.Headline" class="form-control" placeholder="Die beste Freizeitmannschaft" />
                <span asp-validation-for="Site.Headline" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Registrieren</button>
            </div>
            <div class="mb-3">
                <p>
                    <a asp-page="/Index">Abbrechen</a>
                </p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

