@using System.Globalization;

@*
**********************************************************************
***                           ATTENTION!                           ***
*** A Model using this partial must derive from "SeasonBaseModel"! ***
***                           ATTENTION!                           ***
**********************************************************************
*@


<div class"container">
    @if (Model.Season.MatchDays != null)
    {
        @for (var semester = 0; semester < 2; semester++)
        {
            <table class="d-lg-table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        @for (var month = 0; month < 6; month++)
                        {
                            int actMonth = Model.SelectedMonth + (month + (semester * 6));
                            string monthName = CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName((actMonth > 12) ? actMonth - 12 : actMonth);
                            
                            <th style="height: 30px; width: 100px; text-align:center; vertical-align:middle">
                                @monthName
                            </th>                        
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < 5; i++)
                    {
                        <tr>
                            @for (var month = 0; month < 6; month++)
                            {
                                string day = "";
                                int actMonth = Model.SelectedMonth + (month + (semester * 6));
                                var md = Model.GetNthWeekDayOfMonth(Model.Season, (actMonth > 12) ? actMonth - 12 : actMonth, i);
                                if (md != null)
                                {
                                    day = md.Date.Day.ToString();
                                }
                                @*<td style="text-align:center; vertical-align:middle">*@
                                <td>
                                    @if (!string.IsNullOrEmpty(day))
                                    {
                                        <a class="text-lg-start fs-5" asp-page="/MatchDays/Details" asp-route-id="@md.Id">@day</a>
                                        <p class="text-sm-center fs-6">Geburtstag</p>
                                    }
                                    else
                                    {
                                        @day
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <p></p>
        }
    }
</div>
