@page
@model MySqlTestRazor.Pages.Sites.CreateModel

@{
    ViewData["Title"] = "Neues Hobby Team erstellen";
    Layout = "../Shared/_LayoutStart.cshtml";
}

<h1>Neues Hobby Team erstellen</h1>

<h4>Hobby Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Site.Name" class="control-label"></label>
                <input asp-for="Site.Name" class="form-control" />
                <span asp-validation-for="Site.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Site.Logo" class="control-label"></label>
                <img id="siteLogo" width="80" height="100"  src="">
                <input asp-for="Site.Logo" type="file"
                        accept="image/png, image/jpeg"
                        class="form-control"
                        onchange="document.getElementById('siteLogo').src =
                            window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="Site.Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Site.Description" class="control-label"></label>
                <input asp-for="Site.Description" class="form-control" />
                <span asp-validation-for="Site.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Site.Rules" class="control-label"></label>
                <input asp-for="Site.Rules" class="form-control" />
                <span asp-validation-for="Site.Rules" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Site.ConfirmationModeId" class="control-label"></label>
                <select asp-for="Site.ConfirmationModeId" class="form-control"
                        asp-items="@Model.ConfirmationModeOptions">
                        <option value="">-- Option wählen --</option>
                </select>
                <span asp-validation-for="Site.ConfirmationModeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{
                    var color = "#ffffff";
                    if (Model.Site != null)
                    {
                        color = Model.Site.TeamColor1;
                    }
                }
                <label asp-for="Site.TeamColor1" class="control-label"></label>
                <input type="color" asp-for="Site.TeamColor1" value=@color />
                <span asp-validation-for="Site.TeamColor1" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{
                    color = "#ff0000";
                    if (Model.Site != null)
                    {
                        color = Model.Site.TeamColor2;
                    }
                }
                <label asp-for="Site.TeamColor2" class="control-label"></label>
                <input type="color" asp-for="Site.TeamColor2" value=@color />
                <span asp-validation-for="Site.TeamColor2" class="text-danger"></span>
            </div>
            <p>&nbsp;</p>
            <p>
                <a>Farben der Seiten der Hobby Mannschaft</a>
            </p>
            <div class="form-group">
                @{
                    color = "#00ff00";
                    if (Model.Site != null)
                    {
                        color = Model.Site.BgColorBody;
                    }
                }
                <label asp-for="Site.BgColorBody" class="control-label"></label>
                <input type="color" asp-for="Site.BgColorBody" value=@color />
                <span asp-validation-for="Site.BgColorBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{
                    color = "#000000";
                    if (Model.Site != null)
                    {
                        color = Model.Site.FgColorBody;
                    }
                }
                <label asp-for="Site.FgColorBody" class="control-label"></label>
                <input type="color" asp-for="Site.FgColorBody" value=@color />
                <span asp-validation-for="Site.FgColorBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{
                    color = "#00ff00";
                    if (Model.Site != null)
                    {
                        color = Model.Site.BgColorHeader;
                    }
                }
                <label asp-for="Site.BgColorHeader" class="control-label"></label>
                <input type="color" asp-for="Site.BgColorHeader" value=@color />
                <span asp-validation-for="Site.BgColorHeader" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{
                    color = "#ffffff";
                    if (Model.Site != null)
                    {
                        color = Model.Site.FgColorHeader;
                    }
                }
                <label asp-for="Site.FgColorHeader" class="control-label"></label>
                <input type="color" asp-for="Site.FgColorHeader" value=@color />
                <span asp-validation-for="Site.FgColorHeader" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{
                    color = "#00ff00";
                    if (Model.Site != null)
                    {
                        color = Model.Site.BgColorMain;
                    }
                }
                <label asp-for="Site.BgColorMain" class="control-label"></label>
                <input type="color" asp-for="Site.BgColorMain" value=@color />
                <span asp-validation-for="Site.BgColorMain" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{
                    color = "#000000";
                    if (Model.Site != null)
                    {
                        color = Model.Site.FgColorMain;
                    }
                }
                <label asp-for="Site.FgColorMain" class="control-label"></label>
                <input type="color" asp-for="Site.FgColorMain" value=@color />
                <span asp-validation-for="Site.FgColorMain" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{
                    color = "#00ff00";
                    if (Model.Site != null)
                    {
                        color = Model.Site.BgColorFooter;
                    }
                }
                <label asp-for="Site.BgColorFooter" class="control-label"></label>
                <input type="color" asp-for="Site.BgColorFooter" value=@color />
                <span asp-validation-for="Site.BgColorFooter" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{
                    color = "#000000";
                    if (Model.Site != null)
                    {
                        color = Model.Site.FgColorFooter;
                    }
                }
                <label asp-for="Site.FgColorFooter" class="control-label"></label>
                <input type="color" asp-for="Site.FgColorFooter" value=@color />
                <span asp-validation-for="Site.FgColorFooter" class="text-danger"></span>
            </div>
            <p>&nbsp;</p>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
