@page "{id:int?}"
@using HobbyTeamManager.Models
@using Microsoft.EntityFrameworkCore
@model HomeModel
@{
    ViewData["Title"] = Model.Site.Name;

    if (Model.Site.MenuPositionId == 
        Site.menuPosition.FirstOrDefault(mp => mp.Value == Site.menuPositionTop).Key)
        Layout = "/Pages/Shared/_Layout.cshtml";
    else
        Layout = "/Pages/Shared/_LayoutLeft.cshtml";
}

<div class="text-center">
    <p style="margin-top: 0; margin-bottom: 0" align="center">&nbsp;</p>
    <p style="margin-top: 0; margin-bottom: 0" align="center">
        @if (Model.Site.Logo != null)
        {
            <img id="logo" width="242" height="245" style="object-fit:cover"
                src="data:image/*;base64,@(Convert.ToBase64String(Model.Site.Logo))">
        }
        else
        {
            <img id="logo" width="242" height="245" style="object-fit:cover" src="">
        }
    </p>
    @if (!string.IsNullOrEmpty(@Model.Site.Motto))
    {
        <p style="margin-top: 0; margin-bottom: 0" align="center">&nbsp;</p>
        <p style="margin-top: 0; margin-bottom: 0" align="center">&nbsp;</p>
        <p align="center">
            <font size="8" face="Arial Black">@Model.Site.Motto</font>
        </p>
    }
    <p style="margin-top: 0; margin-bottom: 0" align="center">&nbsp;</p>
    <p style="margin-top: 0; margin-bottom: 0" align="center">&nbsp;</p>
    <p style="margin-top: 0; margin-bottom: 0" align="center">
        @if (Model.Site.SeasonId > 0)
        {
            var season = Model.Context.Seasons
                            .AsNoTracking()
                            .FirstOrDefault(s => s.Id == Model.Site.SeasonId);
            if (season != null)
            {
                <a asp-page="/Seasons/Details" asp-route-id="@Model.Site.SeasonId">Aktuelle Saison @season.Year.ToString() öffnen?</a>
            }
            else
            {
                <a asp-page="/Seasons/Index">Liste der Saisonen</a>
            }
        }
        else
        {
            <a asp-page="/Seasons/Index">Liste der Saisonen</a>
        }
    </p>
</div>
