@page "{id:int?}"
@model MySqlTestRazor.Pages.Players.EditModel

@{
    ViewData["Title"] = "Spieler ändern";
}

<h1>Spieler ändern</h1>

<h4>Spielerdaten</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Player.Id" />
            <div class="form-group">
                <label asp-for="Player.FirstName" class="control-label"></label>
                <input asp-for="Player.FirstName" class="form-control" />
                <span asp-validation-for="Player.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.LastName" class="control-label"></label>
                <input asp-for="Player.LastName" class="form-control" />
                <span asp-validation-for="Player.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.NickName" class="control-label"></label>
                <input asp-for="Player.NickName" class="form-control" />
                <span asp-validation-for="Player.NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.BirthDate" class="control-label"></label>
                <input asp-for="Player.BirthDate" class="form-control" />
                <span asp-validation-for="Player.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.ProfilePicture" class="control-label"></label>
                @if (Model.Player.ProfilePicture != null)
                {
                    <img id="pic" border="1" width="80" height="100" src="data:image/*;base64,@(Convert.ToBase64String(Model.Player.ProfilePicture))">
                }
                else
                {
                    <img id="pic" border="1" width="80" height="100"  src="">
                }
                <input type="file" accept="image/png, image/jpeg"
                        asp-for="Player.ProfilePicture" class="form-control"
                        onchange="document.getElementById('pic').src =
                        window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="Player.ProfilePicture" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Player.IsAdmin" /> @Html.DisplayNameFor(model => model.Player.IsAdmin)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Player.Score" class="control-label"></label>
                <input asp-for="Player.Score" class="form-control" />
                <span asp-validation-for="Player.Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.ScoreFromPlayer" class="control-label"></label>
                <input asp-for="Player.ScoreFromPlayer" class="form-control" />
                <span asp-validation-for="Player.ScoreFromPlayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.MembershipType" class="control-label"></label>
                <select asp-for="Player.MembershipTypeId" class="form-control"
                        asp-items="@Model.MembershipTypeSL"></select>
                <span asp-validation-for="Player.MembershipTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Speichern" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Zurück zur Liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
