@page
@using HobbyTeamManager.Utilities
@model HobbyTeamManager.Pages.Players.GaleryModel

@{
    ViewData["Title"] = "Team";

    // list of Members
    var players = new PlayerGaleryCalculator();
    players.List = (from m in Model.Player
                    where m.MembershipType != null && m.MembershipType.Name == HobbyTeamManager.Models.MembershipType.Member
                    select m).ToList();

    // list of Guests
    var guests = new PlayerGaleryCalculator();
    guests.List = (from m in Model.Player
                   where m.MembershipType != null && m.MembershipType.Name == HobbyTeamManager.Models.MembershipType.Guest
                   select m).ToList();

    // list of Ex-members
    var ex = new PlayerGaleryCalculator();
    ex.List = (from m in Model.Player
               where m.MembershipType != null && m.MembershipType.Name == HobbyTeamManager.Models.MembershipType.Ex
               select m).ToList();
    ex.ColumnsPerRow = 15;
}

<p>&nbsp;</p>
@if (players.Count > 0)
{
    <h1 align="center" style="color: blue;">Wir sind dabei</h1>

    @for (var i = 0; i < players.Rows; i++)
    {
        <p align="center">
        @for (var j = 0; j < players.Columns; j++)
        {
            if (players.Index >= players.Count)
                break;
            var item = players.List[players.Index++];
            @if (item.ProfilePicture != null)
            {
                <a title=@item.NickName asp-page="./Details" asp-route-id="@item.Id">
                    <img border="0" width="80" height="100" src="data:image/*;base64,@(Convert.ToBase64String(item.ProfilePicture))">
                </a>
            }
            else
            {
                <img border="0" width="80" height="100"  src="">
            }
        }
        </p>
    }
}
else
{
    <p>Keine Spieler gefunden! Auf der Spielerliste-Seite neue Spieler erzeugen:</p>
    <a class="nav-link" asp-page="/Players/Index">Spielerliste</a>
}

<p>&nbsp;</p>
@if (guests.Count > 0)
{
    <h2 align="center" style="color: blue;">Unsere Gastspieler</h2>

    @for (var i = 0; i < guests.Rows; i++)
    {
        <p align="center">
        @for (var j = 0; j < guests.Columns; j++)
        {
            if (guests.Index >= guests.Count)
                break;
            var item = guests.List[guests.Index++];
            @if (item.ProfilePicture != null)
            {
                <a title=@item.NickName asp-page="./Details" asp-route-id="@item.Id">
                    <img border="0" width="80" height="100" src="data:image/*;base64,@(Convert.ToBase64String(item.ProfilePicture))">
                </a>
            }
            else
            {
                <img border="0" width="80" height="100"  src="">
            }
        }
        </p>
    }
}

<p>&nbsp;</p>
@if (ex.Count > 0)
{
    <h3 align="center" style="color: blue;">Unsere Ehemaligen</h3>

    @for (var i = 0; i < ex.Rows; i++)
    {
        <p align="center">
        @for (var j = 0; j < ex.Columns; j++)
        {
            if (ex.Index >= ex.Count)
                break;
            var item = ex.List[ex.Index++];
            @if (item.ProfilePicture != null)
            {
                <a title=@item.NickName>
                    <img border="0" width="60" height="75" src="data:image/*;base64,@(Convert.ToBase64String(item.ProfilePicture))">
                </a>
            }
            else
            {
                <img border="0" width="80" height="100"  src="">
            }
        }
        </p>
    }
}
