@page
@model IndexModel
@{
    ViewData["Title"] = "Emerholzkicker";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

    <p style="margin-top: 0; margin-bottom: 0" align="center">&nbsp;</p>
    <p style="margin-top: 0; margin-bottom: 0" align="center">
        <img src="~/res/freizeitkicker.jpg" width="242" height="245" border="0">
    </p>
</div>
