@page
@model PrivacyModel
@{
    ViewData["Title"] = "Impressum";
}
<h1>@ViewData["Title"]</h1>

@*<p>Use this page to detail your site's privacy policy.</p>*@
<p style="margin-top: 0; margin-bottom: 0" align="center">&nbsp;</p>
<p style="margin-top: 0; margin-bottom: 0" align="center">&nbsp;</p>
<p style="margin-top: 0; margin-bottom: 0" align="center">&nbsp;</p>
<p style="margin-top: 0; margin-bottom: 0" align="center">&nbsp;</p>
<p style="margin-top: 0; margin-bottom: 0" align="center">&nbsp;</p>
<p style="margin-top: 0; margin-bottom: 0" align="center">&nbsp;</p>
<p style="margin-top: 0; margin-bottom: 0" align="center">&nbsp;</p>
<p style="margin-top: 0; margin-bottom: 0" align="center">&nbsp;</p>
<p style="margin-top: 0; margin-bottom: 0" align="center">&nbsp;</p>
<p style="margin-top: 0; margin-bottom: 0" align="center">
    Dies ist eine rein private Homepage
</p>
<p style="margin-top: 0; margin-bottom: 0" align="center">
    und benötigt laut aktueller Rechtssprechung deshalb
</p><p style="margin-top: 0; margin-bottom: 0" align="center">
    kein Impressum!
</p>
<p style="margin-top: 0; margin-bottom: 0" align="center">&nbsp;</p>
<p style="margin-top: 0; margin-bottom: 0" align="center">
    Webmaster:
</p>
<p style="margin-top: 0; margin-bottom: 0" align="center">
    Michael Haubold
</p>
<p style="margin-top: 0; margin-bottom: 0" align="center">
    70439 Stuttgart
</p>
